// Application Styling
// Import then overwrite the default styles

// PrismJS theme
@import 'prismjs/themes/prism.css'

// Vuetify Variables
//@import '~vuetify/src/stylus/settings/_variables'

// Vuetify Components
//@import '~vuetify/src/stylus/main'
@import 'vuetify/dist/vuetify.min.css'

// Actual modifications

$body-font-family = 'Open Sans'
$heading-font-family = 'Overpass'
$button-font-weight = 600
$list-title-font-weight = 600
$navigation-drawer-item-font-size = 40px

$font-weights = {
	medium: 600,
}

h3
	font-size: 20px
	font-family: 'Overpass'

html
	font-size: 16px

.v-toolbar__title
	font-family: 'Overpass'
	font-size: 24px
	letter-spacing: 0px

.v-tabs__div
	font-size: 15px
	font-weight: 500

.v-navigation-drawer
	.v-list .v-list__tile
		font-weight: 500
		font-size: 16px

.v-icon
	font-weight: 500

code[class*="language-"]
pre[class*="language-"]
	font-size: 16px

.blocklyHtmlInput {
	background-color: white !important;
}

.blocklyTotal {
  line-height: normal !important;
}
