# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build CoderBot frontend

on: push

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - name: Archive dist
      uses: actions/upload-artifact@v3
      with:
        name: frontend-dist
        path: dist

  release-frontend:
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
    - uses: actions/checkout@v3 # Checking out the repo
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        # list of Docker images to use as base name for tags
        images: ghcr.io/coderbotorg/frontend
        # generate Docker tags based on the following events/attributes
        tags: |
          # always latest
          type=raw,value=latest
          # branch event
          type=ref,event=branch
          # tag event
          type=ref,event=tag
          # pull request event
          type=ref,event=pr
          # push event
          type=sha,enable=true,prefix=git-,format=short
    - name: Download dist artifact
      uses: actions/download-artifact@v3
      with:
        name: frontend-dist 
        path: frontend/dist
    - run: wget https://github.com/CoderBotOrg/docs/releases/download/v0.1/docs.tgz
    - run: mkdir -p frontend/cb_docs
    - run: tar xzf docs.tgz -C frontend/cb_docs
    - run: rm docs.tgz
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
          push: true
          platforms: linux/arm/v7
          tags: ${{ steps.meta.outputs.tags }}
          context: .
          file: docker/Dockerfile
          cache-from: type=registry,ref=ghcr.io/coderbotorg/frontend:latest
          cache-to: type=inline
